@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100..700&family=Oswald:wght@200..700&display=swap');

:root {
    --cor-principal: #64dfef; /* Azul */
    --cor-cabeçalho: #222222;
}
  

*{
    font-family: "Arima",sans-serif;
    margin: 0;
    padding: 0;
}

/*******************************CABEÇALHO************************************/

header{
     display: flex;
     align-items: center;
     text-align: center;
     justify-content: space-between;
     background-color: var(--cor-cabeçalho);
     padding: 5px;
}
.navegador{
    justify-content:space-around;
    padding-right: 60px;
}
.navegador a{
    padding: 20px;
    text-decoration: none;
    color: var(--cor-principal);
    padding-right: 50px;

}
/*******************************CABEÇALHO FINAL ************************************/


/*******************************MAIN ************************************/


.welcome{
    display: block;
    align-items: center;
    text-align: center;
    padding: 30px;
}


/***MOTIVACAO***/
.motivacao{
    display: block;
    align-items: center;
    text-align: center;
    padding: 30px;  
}
.textoMotivacao{
    display: block;
    align-items: center;
    text-align: center;
    padding: 30px;
}
.imgMotivacao{
    display: block;
    align-items: center;
    text-align: center;
    padding: 30px;
    margin-left: 100px;
}


/*******************************MAIN FINAL ************************************/








/*******************************RODAPÉ************************************/
footer{
    background-color: var(--cor-cabeçalho);
    
}




/*******************************RODAPÉ FINAL************************************/

.video_you{
    text-align: center;
    margin: auto;
    padding: 80px;
    height: 380px;
    box-shadow: 0px 10px 14px grey;
    
}
.pro{
    display: flex;
    justify-content: space-between;
}
.proble{
    margin: 25px;

}
.partedecima{
    display: flex;
    background-color: #FFC803;
}
.imagens img{
   display: block;
   margin: 0px;
   padding: 25px;
   
}

.carrosel{
    box-shadow: 2px 2px 4px black;
    overflow: hidden;
    height: 650px;
    width: 475px;
    border-radius: 15px ;
    
}
.container{
    display: flex;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
    width: 2000px; 
    
    
}

.teste{
    display: flex;
    justify-content: center; 
    align-items: center;   
    height: 100vh;        
}

#inf h1, h2  {
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin: 0;
    text-align: top;
  }
#inf {
    display: flex;
    transition: transform 0.5s ease-in-out; 
    width: 2000px; 
}

.informacoes {
    width: 500px;
    height: 650px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px; 
    box-sizing: border-box; 
    text-align: center;
}

.informacoes h2 {
    font-size: 24px;
    margin-bottom: 10px; 
}

.informacoes p {
    font-size: 16px;
    color: #545353; 
}

.teste{
       background-color: rgb(91, 189, 189);
}
.container{
 background-color: #FFC803;
}
#inf a{
    text-decoration: none;

}

.primeiraPt{
    display: flex;
    justify-content: space-between;
}

.comp{
    margin : 100px;
}

.apps{
    margin: 100px;


}

.imgComp{
    margin-top: 100px;
    margin-right: 100px;
}

.montagem{
    display: block;
    align-items: center;
    text-align: center;
    padding: 30px;
}

.styled {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgb(220 0 0 / 100%);
    background-image: linear-gradient(
      to top left,
      rgb(0 0 0 / 20%),
      rgb(0 0 0 / 20%) 30%,
      rgb(0 0 0 / 0%)
    );
    box-shadow:
      inset 2px 2px 3px rgb(255 255 255 / 60%),
      inset -2px -2px 3px rgb(0 0 0 / 60%);
  }
  
  .styled:hover {
    background-color: rgb(255 0 0 / 100%);
  }
  
  .styled:active {
    box-shadow:
      inset -2px -2px 3px rgb(255 255 255 / 60%),
      inset 2px 2px 3px rgb(0 0 0 / 60%);
  }
  
